
<footer class="  rounded">
  <div id="p">
    <div class="d-lg-flex justify-content-between">
      
      <div class=" justify-content-between">
        <span class="pl-5 ml-5"><img src="assets\logo.png"alt="" width="45" height="40"></span>
        <h5 class="text-danger ml-5 ">Online Blood Donor</h5>
      </div>
      <div class="copyright">
        <p class="text-center">developed by <a href="#" target="_blank">Group-E</a></p>
        <p class="text-center font-weight-bold">© Copyright 2022 Online Blood Donation. All Rights Reserved.</p>
      </div>
      <div>
        <ul class="d-flex gap-3 list-unstyled mt-4 mr-5 color-white">
          <li><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://twitter.com/i/flow/login"><i class="bi bi-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
  