<app-navbar></app-navbar>
<div class="contact">
<div class="container mt-5">
    <div class="row justify-content">
      <div class="col-md-6">
        <h2 class="mb-4">Contact Details</h2>
        <h5>Center Us For Blood Donation related queries, feedback and suggestions</h5>
        <p>For Administrative queries <br>
            Blood Cell, National Health Mission
            Ministry of Health & Family Welfare, New Delhi-110011
          </p>

            <h6>For FindDonor related queries, feedback and suggestions</h6>
            <p>Email - ujjwalkurve1@gmail.com
              <br>Contact No. - +91912345678
            </p>
           

      </div>
    </div>
    </div>
</div>
  <div class="footer">
  <app-footer></app-footer>
</div>